Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
requests==2.24.0
Werkzeug==1.0.1
Flask-SQLAlchemy==2.4.4
python-dateutil==2.8.1
psycopg2==2.8.6
nose==1.3.7
PyJWT==1.7.1
cryptography==2.6.1
SQLAlchemy==1.3.19
SQLAlchemy-Utils==0.36.8
coverage==5.3
blinker==1.4
